pete_n8n_workflow_v3.json
{
    "name": "Pete Bot - Fixed Polling",
    "nodes": [
        {
            "parameters": {
                "authentication": "oAuth2",
                "events": [
                    "invitee.created"
                ]
            },
            "id": "calendly-trigger-001",
            "name": "Calendly Trigger",
            "type": "n8n-nodes-base.calendlyTrigger",
            "typeVersion": 1,
            "position": [
                240,
                300
            ],
            "webhookId": "webhook-001",
            "credentials": {
                "calendlyOAuth2Api": {
                    "id": "QTbfao0FKbRJRiQS",
                    "name": "Calendly account"
                }
            }
        },
        {
            "parameters": {
                "amount": 10,
                "unit": "seconds"
            },
            "id": "initial-wait-001",
            "name": "Initial Wait (10s)",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "={{ $node[\"Calendly Trigger\"].json.payload.scheduled_event.uri }}",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "calendlyApi",
                "options": {}
            },
            "id": "poll-event-001",
            "name": "Poll Event API",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                680,
                300
            ],
            "credentials": {
                "calendlyApi": {
                    "id": "QTbfao0FKbRJRiQS",
                    "name": "Calendly account"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "status-check",
                            "leftValue": "={{ $json.resource.location.status }}",
                            "rightValue": "processing",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "id": "check-status-001",
            "name": "Still Processing?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                900,
                300
            ]
        },
        {
            "parameters": {
                "amount": 5,
                "unit": "seconds"
            },
            "id": "retry-wait-001",
            "name": "Wait 5s (Retry)",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1,
            "position": [
                900,
                120
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "meeting-url",
                            "name": "meeting_url",
                            "value": "={{ $node[\"Poll Event API\"].json.resource.location.join_url }}",
                            "type": "string"
                        },
                        {
                            "id": "first-name",
                            "name": "first_name",
                            "value": "={{ $node[\"Calendly Trigger\"].json.payload.first_name }}",
                            "type": "string"
                        },
                        {
                            "id": "email",
                            "name": "email",
                            "value": "={{ $node[\"Calendly Trigger\"].json.payload.email }}",
                            "type": "string"
                        },
                        {
                            "id": "start-time",
                            "name": "start_time",
                            "value": "={{ $node[\"Calendly Trigger\"].json.payload.scheduled_event.start_time }}",
                            "type": "string"
                        }
                    ]
                }
            },
            "id": "extract-data-001",
            "name": "Extract Meeting Data",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                1120,
                420
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://us-west-2.recall.ai/api/v1/bot/",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"meeting_url\": \"{{ $json.meeting_url }}\",\n  \"bot_name\": \"Pete Intake Bot\",\n  \"join_at\": \"{{ $json.start_time }}\",\n  \"browser_rendering_options\": {\n    \"url\": \"https://jossengaibonaaffiliate-bit.github.io/flow-stem-lab/bot.html?first_name={{ $json.first_name }}&email={{ $json.email }}\"\n  }\n}",
                "options": {}
            },
            "id": "recall-request-001",
            "name": "Send to Recall.ai",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1340,
                420
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "vI2ZMQfydJ2rbTB1",
                    "name": "Recall API Key"
                }
            }
        }
    ],
    "connections": {
        "Calendly Trigger": {
            "main": [
                [
                    {
                        "node": "Initial Wait (10s)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Initial Wait (10s)": {
            "main": [
                [
                    {
                        "node": "Poll Event API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Poll Event API": {
            "main": [
                [
                    {
                        "node": "Still Processing?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Still Processing?": {
            "main": [
                [
                    {
                        "node": "Wait 5s (Retry)",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Extract Meeting Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait 5s (Retry)": {
            "main": [
                [
                    {
                        "node": "Poll Event API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Meeting Data": {
            "main": [
                [
                    {
                        "node": "Send to Recall.ai",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    }
}